# Copy this file to .env and fill in your values
# DO NOT commit .env to version control!

FLASK_ENV=development
DEBUG=True
SECRET_KEY=Moha@0403

# DATABASE_URL=sqlite:///app.db
# API_KEY=your-api-key-here
